.home-container{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #3D5AA6;
}

.home-img-1{
    position: absolute;
    top: 0;
    left: -2260px;
    width: 100%;
    height: 100%;
    transition: all 3.5s ease;
    object-fit: cover;
}

.home-img-1.active{
    left: 0;
}

.home-img-1.active{
    left: 0;
}

.home-img-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 2.5s ease;
    object-fit: cover;
    opacity: 0;
}

.home-img-2.opacity-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 2.5s ease;
    object-fit: cover;
    opacity: 1;
}

.home-ani-content{
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 90px;
    left: 260px;
    width: 240px;
    min-height: 90px;
    transition: opacity 1.6s ease;
}

.home-ani-content.opacity-1{
    opacity: 1;
}

.home-ani-content img{
    opacity: 0;
    transition: opacity 2.6s ease;
    margin-bottom: 16px;
}

.home-ani-content img.opacity-1{
    opacity: 1;
}

@media (max-width: 426px) {
    .home-ani-content{
        top: 30px;
        left: 30px;
    }
}